body {
  background-color: skyblue;
}

h1, h2 {
  color: #ffffff;
}
.title11111 {
  color: red;
  font: optional;
  background: #000;
}
.title {
  color: red;
  font: optional;
  background: #000;
}
.title111111 {
  color: red;
  font: optional;
  background: #000;
}
.title111112 {
  color: red;
  font: optional;
  background: #000;
}
.title111113 {
  color: red;
  font: optional;
  background: #000;
}
.title111114 {
  color: red;
  font: optional;
  background: #000;
}